* {
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 100%;
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: transparent;
  border: none;
  animation: blink 5s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.heading {
  position: absolute;
  background-color: transparent;
  z-index: 6;
  display: flex;
  opacity: 1;
  visibility: hidden;
  left: 20%;
}

.heading.open {
  max-height: 75px;
  overflow: hidden;
  display: flex;
  opacity: 0.8;
  visibility: visible;
}

.head-top {
  font-size: 50px;
  color: rgb(231, 182, 182);
  left: 50%;
}

a:hover {
  text-decoration: underline;
  color: rgb(92, 62, 48);
}

.container {
  padding: 8px 0;
  width: 100%;
}

.row {
  width: 100%;
  margin: 0 auto;
  padding: 0 8px;
}

header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  padding: 30px 30px 0px 30px;
  justify-content: space-between;
}

.dex-logo {
  width: 100px;
  height: 100px;
}

.dex-title {
  font-size: 50px;
  color: darkblue;
}

body {
  position: relative;
}

body:before {
  position: fixed;
  content: "";
  inset: 0;
  background: url('https://legends.pokemon.com/_next/image?url=%2Fimages%2Fpages%2Fstory-world%2Fpokemon%2Fpokemon-header-s-2x.jpg&w=3840&q=80') no-repeat;
  background-size: 100% 100%;
  opacity: 0.8;
  z-index: -100;
  /*top: 323px;*/
}

span { 
  text-shadow: -0.06em 0 rgba(6, 56, 97, 0.2),  0.06em 0 rgba(6, 20, 68, 0.5); /* This creates the 3D effect, pretty easy, eh? */
  letter-spacing: 0.08em; /* make sure the letters don't overlap */
}

.click {
  transition: all 300ms ease;
}

.click:hover {
  opacity: 0.7
}

.click:after {
  opacity: 0.6;
}

.pkmn__header {
  align-content: center;
  justify-content: center;
  font-size: 100px;
  display: flex;
}

#landing {
  z-index: -10;
}

/*

title

credit for text and background effect!!!! https://codepen.io/nefejames/pen/azooaqw

*/

.matrix-container {
  position: static;
  display: flex;
  justify-content: center;
  align-items: top;
  height: 50%;
  padding-top: 7%;
  z-index: 2; /* Ensure it stays above the rain effect */
}

input {
  position: relative;
  z-index: 2; /* Ensure it stays above the rain effect */
  background: transparent;
  border: none;
  height: 150px;
  width: 400px;
}

::placeholder {
  color: rgb(13, 61, 80);
  font-size: 80px;
  font-family: monospace;
  text-shadow: 0 0 10px rgb(0, 110, 255), 0 0 20px rgb(0, 60, 255), 0 0 30px rgb(0, 60, 255);
}

.input::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: glitch 2s infinite;
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
  transform: translate(-2px, -2px);
  color: rgb(55, 0, 255);
  text-shadow: 0 0 5px rgb(0, 153, 255), 0 0 15px #0f0;
}

.rain {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
    0deg,
    rgba(0, 102, 255, 0.1) 0,
    rgba(0, 162, 255, 0.2) 2px,
    transparent 4px
  );
  animation: rain 10s linear infinite;
  z-index: 1; /* Place it behind the text */
}

/* Animation for the rain effect */
@keyframes rain {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

/* Glitch effect for the text */
@keyframes glitch {
  0%, 100% {
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
    transform: translate(0);
  }
  33% {
    clip-path: polygon(0 0, 100% 0, 100% 15%, 0 15%);
    transform: translate(-5px, -5px);
  }
  66% {
    clip-path: polygon(0 85%, 100% 85%, 100% 100%, 0 100%);
    transform: translate(5px, 5px);
  }
}

/*

btns

*/

.btn {
  padding-right: 8%;
  padding-left: 8%;
}

.pkmn__btns {
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search__btn, .filter__btn {
  width: 200px;
  height: 50px;
  border-radius: 40%;
  background: rgba(73, 132, 160, 0.7);
  color: white;
  font-size: 25px;
}

/*

shapes

*/

.shape {
  position: fixed;
  width: 50px;
  height: 50px;
}

.shape--0 {
  left: 5vw;
  top: 15vh;
}

.shape--1 {
  left: 50vw;
  top: 15vh;
}

.shape--2 {
  left: 80vw;
  top: 15vh;
}

.shape--3 {
  left: 5vw;
  top: 50vh;
}

.shape--4 {
  left: 50vw;
  top: 50vh;
}

.shape--5 {
  left: 80vw;
  top: 50vh;
}

.shape--6 {
  left: 5vw;
  top: 80vh;
}

.shape--7 {
  left: 50vw;
  top: 80vh;
}

.shape--8 {
  left: 80vw;
  top: 80vh;
}

#dex-left {
  width: 52vw;
  height: 100%;
  display: flex;
  justify-self: left;
  padding-left: 50px;
  z-index: 0;
}

#dex-right {
  width: 48vw;
  height: 100%;
  display: flex;
  justify-self: right;
  z-index: 0;
}

/*code: https://codepen.io/hqdrone/pen/poyWNqX  */

.perspective {
  padding: 100px 5px;
  overflow: hidden;
  width: 100%;
  height: 80vh;
  margin-top: 15vh;
}

.perspective__flex {
  display: flex;
  transition: all 0.6s ease;
  height: 100%;
  width: 100%;
}

.perspective__col {
  z-index: 0;
  transition: all 0.6s ease;
  width: 100%;
  padding: 0 15px;
}

.perspective__item {
  padding: 25px;
  transition: all 0.6s ease;
  background: rgba(147, 179, 204, 0.4);
  border-radius: 25px;
  background: linear-gradient(325deg, rgba(63, 94, 251, 0.2) 0%, rgba(18, 5, 88, 0.2) 100%);
}

.perspective-item {
  color: #fff;
}

.perspective-item__icon {
  display: block;
  margin: 0 auto 30px;
  width: 70%;
  height: auto;
  border-radius: 50%;
  overflow: hidden;
  transition: all 0.6s ease;
  object-fit: contain;
}
.perspective-item__icon img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.perspective__flex .perspective__item {
  transform: perspective(800px) rotateY(25deg) scale(0.9) rotateX(100deg);
  opacity: 0.5;
}

.perspective__flex .perspective__col .perspective__item {
  transform: perspective(800px) rotateY(15deg) translateY(-50px) rotateX(10deg) scale(1);
  opacity: 1;
}

/*

pokedex info

*/

.poke-info {
  display: flex;
  flex-direction: column;
  background: linear-gradient(325deg, rgba(72, 86, 158, 0.75) 0%, rgba(143, 128, 228, 0.1) 100%);
  padding: 50px;
  margin-top: 25vh;
  border-radius: 50px;
  box-shadow: 20px 75px rgba(75, 46, 240, 0.1), 40px 150px rgba(46, 82, 240, 0.1), 60px 200px rgba(72, 139, 238, 0.1),
              20px -75px rgba(75, 46, 240, 0.1), 40px -150px rgba(46, 82, 240, 0.1), 60px -200px rgba(72, 139, 238, 0.1);         
}

h2 {
  font-size: 80px;
}

.poke-type {
  width: 100px;
  height: auto;
  object-fit: contain;
  padding-bottom: 10px;
}

.poke-hab-gen {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
}

.poke-taxonomy {
  display: flex;
  flex-direction: column;
}

/*

footer

*/
